<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
	
	    <title>Crear modulo</title>
	</head>
	<body>
		<form class="form-horizontal" role="form" method="post">
		  <div class="form-group row">
		    <label class="col-sm-2 col-form-label">NombreModulo</label>
		    <div class="col-sm-10">
		      <input type="text" id="nombreModulo" name="nombreModulo">
		    </div>
		  </div>
		  
		  <div class="form-group row">
		    <label class="col-sm-2 col-form-label">Alpha</label>
		    <div class="col-sm-10">
		      <input type="number" id="alpha" name="alpha">
		    </div>
		  </div>
		  
		  <div class="form-group row">
		    <label class="col-sm-2 col-form-label">Beta</label>
		    <div class="col-sm-10">
		      <input type="number" id="beta" name="beta">
		    </div>
		  </div>
		  
		  <div class="form-group row">
		    <label class="col-sm-2 col-form-label">Gamma</label>
		    <div class="col-sm-10">
		      <input type="number" id="gamma" name="gamma">
		    </div>
		  </div>
		  
		  <div class="form-group row">
		    <label class="col-sm-2 col-form-label">Kappa</label>
		    <div class="col-sm-10">
		      <input type="number" id="kappa" name="kappa">
		    </div>
		  </div>
		  
		  <div class="form-group row">
		    <label class="col-sm-2 col-form-label">Idealidad</label>
		    <div class="col-sm-10">
		      <input type="number" id="idealidad" name="idealidad">
		    </div>
		  </div>
		  
		  <div class="form-group row">
		    <label class="col-sm-2 col-form-label">Resistencia</label>
		    <div class="col-sm-10">
		      <input type="number" id="resistencia" name="resistencia">
		    </div>
		  </div>
		  
		  <div class="form-group row">
		    <label class="col-sm-2 col-form-label">Rendimiento</label>
		    <div class="col-sm-10">
		      <input type="number" id="rendimiento" name="rendimiento">
		    </div>
		  </div>
		  
		  <div class="form-group row">
		    <label class="col-sm-2 col-form-label">Latitud</label>
		    <div class="col-sm-10">
		      <input type="number" id="latitud" name="latitud">
		    </div>
		  </div>
		  
		  <div class="form-group row">
		    <label class="col-sm-2 col-form-label">Longitud</label>
		    <div class="col-sm-10">
		      <input type="number" id="longitud" name="longitud">
		    </div>
		  </div>
		  
		  <div class="form-group text-center">
                <button type="submit" value="submit" class="btn btn-success">Crear</button>
          </div>
          <a href="javascript:history.back()" class="btn btn-warning">Go Back</a>
	</form>
	<!-- Bootstrap Core CSS -->
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet">
	</body>
</html>