<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Inicio</title>
</head>

    <body>
        <button class="btn btn-primary" onclick="location.href='/listaModulos';" >Ir a la lista de modulos</button><br/>
        <button class="btn btn-primary" onclick="location.href='/listaCampanyas';" >Ir a la lista de campanyas</button><br/>
    
    
	<!-- Bootstrap Core CSS -->
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet">
    </body>
</html>